.env
venv
Tests/1.py
Tests/2.py
Tests/r1.py
Tests/q.py
api_keys.json
Drivers/chromedriver.exe
Automation/API/credentials.json
Automation/API/token.json
PyWhatKit_DB.txt
Interface/Contacts/contacts.json
Mobile/jarvisfiledrop-firebase-adminsdk-o6hj4-ace59fb824.json
Mobile/jarvis-5b1c9-firebase-adminsdk-w4ny1-5cf73bb898.json